attrs==19.3.0
beautifulsoup4==4.8.2
bottle==0.12.18
bs4==0.0.1
certifi==2019.11.28
chardet==3.0.4
deprecation==2.0.7
idna==2.9
more-itertools==8.2.0
packaging==20.1
peewee==3.13.1
pluggy==0.13.1
psycopg2==2.8.4
py==1.8.1
pyparsing==2.4.6
pytest==5.3.5
requests==2.23.0
six==1.14.0
soupsieve==2.0
urllib3==1.25.8
wcwidth==0.1.8
yandex-transport-webdriver-api==1.0.2
