table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

body {
  background-color: #5a6268;
}

/*tr:nth-child(even) {*/
/*  background-color: #4d4d4d;*/
/*}*/